


<table border="1" class="table table-striped table-hover container mt-5 mb-3">

    <thead>
        <tr class="bg-dark text-warning">
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>SalesVolum</th>
            <TH>mET Quoter!</TH>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sp of salesPersonList">
            <td>{{sp.firstname}}</td>
            <td>{{sp.lastname}}</td>
            <td>{{sp.email}}</td>
            <td>{{sp.saleVolum | currency:'USD'}}</td>
            <td>
                <div *ngIf="sp.saleVolum >=4000; else  myElseBlock">Yes</div>
                <ng-template #myElseBlock>No</ng-template>
            </td>
        </tr>
    </tbody>

</table>